.list {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  list-style: none;
}

.item {
  margin-bottom: 10px;
}

.item:last-of-type {
  margin-bottom: 0;
}

.button {
  cursor: pointer;
  height: 20px;
  width: 120px;
  margin-top: auto;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  margin-left: 4px;
}

.paragraph {
  text-align: center;
}
